.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 120px;
    height: 120px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    color: #444;
    cursor: pointer;
    transition: transform 0.2s ease-out;
}

.card:hover {
    transform: scale(1.1);
}

.matched {
    background-color: #bbf0c9;
    color: #00a388;
}
